{% extends "layout.html" %}
{% from "mixins/_posts.html" import posts as all_posts %}
{% from "mixins/_meta-tags.html" import meta_tags %}

{% block head_tags %}
  {{ meta_tags(title=title, url=url, description=description) }}
{% endblock head_tags %}

{% block content %}
  <h2 class="heading">All posts</h2>
  {{ all_posts(posts, "h3") }}

  {% if prev_page %}
    <button class="btn btn-md btn-blue btn-page"><a href="/posts?page={{ prev_page }}">Previous</a></button>
  {% endif %}

  {% if next_page %}
    <button class="btn btn-md btn-blue btn-page"><a href="/posts?page={{ next_page }}">Next</a></button>
  {% endif %}

{% endblock %}
