{% extends "layout.html" %}
{% from "mixins/_posts.html" import posts %}

{% block content %}
  <section class="greeting">
    <h2>Welcome to <span class="gradient-text">PyProject</span></h2>
    <p>A blogging platform written in pure python (no web frameworks used!) for developer to share their coding
      knowledge</p>
  </section>

  <section class="popular-posts-container">
    <h3 class="heading">Popular posts</h3>
    <div class="popular-posts-border">
      <div class="popular-posts">
        {{ posts(popular_posts, "h4", show_views=True) }}
      </div>
    </div>
  </section>
{% endblock %}
