<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css"> #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  {% if title %}
    <title>{{ title }} — PyProject</title>
  {% else %}
    <title>PyProject</title>
  {% endif %}
  {% block head_tags %}{% endblock head_tags %}
</head>

<body class="container">
  <div>
    <header>
      <h1 class="gradient-text"><a href="/">PyProject</a></h1>
      <nav>
        {% set nav_items = [{"title": "All posts", "slug": "/posts"}, {"title": "Create post", "slug": "/new"}] %}
        <ul>
          {% for nav_item in nav_items %}
            <li><a href="{{ nav_item['slug'] }}">{{ nav_item["title"] }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </header>

    <main>
      {% block content %}
      {% endblock content %}
    </main>
  </div>

  <footer>
    <p>Made with ❤️ by Srikar</p>
    <div class="socials">
      <a aria-label="Find me on Twitter" href="https://twitter.com/SrikarVks" title="Twitter" target="_blank">
        <img src="/assets/twitter.svg" alt="Twitter icon">
      </a>
      <a aria-label="Find me on Github" href="https://github.com/SrikarKSV/pure-python-server" title="Github"
         target="_blank">
        <img src="/assets/github.svg" alt="GitHub icon">
      </a>
    </div>
  </footer>

  {% block script_tags %}{% endblock script_tags %}
</body>

</html>
