{% extends "layout.html" %}

{% block head_tags %}
  <link rel="stylesheet" href="/css/markdown.css">
{% endblock head_tags %}

{% block content %}
  <div class="markdown">
    <h2 class="heading markdown-heading">{{ post.title }}</h2>
    <time class="posted-at">Posted {{ pretty_date(post.created_at) }}</time>
    <div class="post-controls">
      <button class="btn btn-inline-block btn-edit"><a href="/posts/{{ post.id }}/edit">Edit</a></button>
      <form class="delete-post" action="/posts/{{ post.id }}/delete" method="POST">
        <button class="btn btn-inline-block btn-delete">Delete</button>
      </form>
    </div>
    {{ post.content|safe }}
  </div>

  <aside class="modal">
      <div class="modal-inner">
        <p>Are you sure you want to delete your post? You can't undo this.</p>
        <button class="btn btn-sm modal-cancel">Cancel</button>
        <button class="btn btn-sm modal-delete">Delete post</button>
      </div>
  </aside>

{% endblock content %}

{% block script_tags %}
  <script src="/js/app.js"></script>
{% endblock script_tags %}
