.container {
  max-width: 1100px;
  margin: auto;
  padding: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/********************* Header & Nav  *********************/

header {
  margin: 2.5rem 0 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gradient-text {
  background-image: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  margin-bottom: 0;
}

h1.gradient-text a {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin-right: 30px;
  list-style-type: none;
}

nav li:nth-child(1) a {
  transition: color 0.3s;
}

nav li:nth-child(1) a:hover {
  color: var(--dark-blue);
}

nav li:nth-child(2) {
  background: var(--dark-blue);
  color: var(--white);
  padding: 0.5em 0.8em;
  border-radius: var(--border-radius-lg);
}

nav a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

/********************* Home *********************/

.greeting {
  margin-top: 5rem;
  text-align: center;
  font-weight: 600;
}

.greeting h2 {
  font-size: 5rem;
}

.greeting p {
  font-size: 1.5rem;
  color: var(--grey-text);
  max-width: 60vw;
  margin: auto;
}

.popular-posts-container h3 {
  font-size: 3rem;
  margin-top: 5rem;
  text-align: center;
}

.popular-posts-border {
  padding: 2px;
  max-width: 80%;
  margin: auto;
  background: var(--gradient-text);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.popular-posts {
  border-radius: var(--border-radius-sm);
  padding: 3rem;
  background-color: #031b34;
}

.popular-posts .no-posts {
  text-align: center;
}

/********************* Posts *********************/

.post {
  padding: 1em 1.8em;
  border-radius: var(--border-radius-lg);
  border: 2px solid var(--green);
  margin: 1rem 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.post a {
  text-decoration: none;
  color: inherit;
}

.post h4 {
  font-size: 2.3rem;
  margin: 0.5rem 0 1rem;
}

.post h3 {
  font-size: 2.6rem;
  margin: 0.5rem 0 1rem;
}

.view-count,
.posted-at {
  display: inline-block;
  padding: 0.1em 0.3em;
  border-radius: var(--border-radius-sm);
  margin-top: 3px;
}

.view-count {
  color: var(--black);
  background-color: var(--yellow);
}

.posted-at {
  color: var(--white);
  background: var(--purple);
}

.btn-page {
  display: inline-block;
}

/********************* Forms *********************/

label {
  display: block;
  font-size: 2rem;
}

input,
textarea {
  border: none;
  border-radius: var(--border-radius-sm);
}

input,
textarea {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.2em 0.5em;
}

input {
  margin-bottom: 2rem;
}

textarea {
  resize: vertical;
  height: 30rem;
}

/********************* Footer *********************/

footer::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: -15px;
  background: var(--gradient-text);
}

footer {
  position: relative;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

footer .socials {
  display: flex;
}

footer .socials img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  filter: invert(100%);
}

/********************* Errors *********************/

.error-msg {
  font-size: 1.4rem;
}

.error-stack {
  border: 3px solid var(--white);
  padding: 0.5em;
  overflow-x: scroll;
}

/********************* Media queries *********************/
@media only screen and (max-width: 71.875em) {
  /* 1150px */
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 53.125em) {
  /* 850px */
  header {
    flex-direction: column;
  }

  .greeting h2 {
    font-size: 3.5rem;
  }

  .greeting p {
    font-size: 1.1rem;
    max-width: 80vw;
  }

  nav a {
    font-size: 1.2rem;
  }

  nav {
    margin-top: 10px;
  }

  nav li:nth-child(2) {
    margin-right: 0;
    padding: 0.2em 0.6em;
  }

  .popular-posts-border {
    min-width: 100%;
  }

  .heading {
    font-size: 2.5rem;
  }

  .popular-posts h4 {
    font-size: 1.8rem;
  }

  .post h3 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  /* 600px */
  .popular-posts {
    padding: 1em 0.4em;
  }

  .post h3 {
    font-size: 1.8rem;
  }

  .popular-posts .post {
    padding: 1em 1.3em;
  }
}
