{% macro meta_tags(title, url, description) -%}
  <meta name="description"/>

  {# Facebook Meta Tags #}
  <meta property="og:url" content="{{ url }}"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description" content="{{ description }}"/>
  <meta property="og:image" content="/assets/favicon-medium.png"/>
  {# Twitter Meta Tags  #}
  <meta name="twitter:card" content="summary"/>
  <meta property="twitter:domain" content="{{ url }}"/>
  <meta property="twitter:url" content="{{ url }}"/>
  <meta name="twitter:title" content="{{ title }}"/>
  <meta name="twitter:description" content="{{ description }}"/>
  <meta name="twitter:image" content="https://i.imgur.com/71zYrby.png"/>
{%- endmacro %}

