{% macro posts(posts, heading, show_views=False) -%}
  {% if posts|length >= 1 %}
    {% for post in posts %}
      <article class="post">
        {% if heading == "h4" %}
          <h4><a href="/posts/{{ post.id }}">{{ post.title }}</a></h4>
        {% elif heading == "h3" %}
          <h3><a href="/posts/{{ post.id }}">{{ post.title }}</a></h3>
        {% endif %}
        {% if show_views %}
          <span class="view-count">{{ post.view_count }} views</span>
        {% endif %}
        <span class="posted-at">Posted <time datetime="post.created_at">{{ pretty_date(post.created_at) }}</time></span>
      </article>
    {% endfor %}
  {% else %}
    <h2>No posts</h2>
  {% endif %}
{%- endmacro %}
