{% macro posts(posts, heading, show_views=False) -%}
  {% if posts|length >= 1 %}
    {% for post in posts %}
      <article class="post">
        {% if post.title|length < 60 %}
          {% set title = post.title %}
        {% else %}
          {% set title = post.title[:60] + "..." %}
        {% endif %}
        {% if heading == "h4" %}
          <h4><a href="/posts/{{ post.id }}">{{ title }}</a></h4>
        {% elif heading == "h3" %}
          <h3><a href="/posts/{{ post.id }}">{{ title }}</a></h3>
        {% endif %}
        {% if show_views %}
          <span class="view-count">{{ post.view_count }} views</span>
        {% endif %}
        <span class="posted-at">Posted by {{ post.name }} <time title="{{ post.created_at }}" datetime="{{ post.created_at }}">{{ pretty_date(post.created_at) }}</time></span>
      </article>
    {% endfor %}
  {% else %}
    {% if heading == "h4" %}
      <h4 class="no-posts">No posts</h4>
    {% elif heading == "h3" %}
      <h3 class="no-posts">No posts</h3>
    {% endif %}
  {% endif %}
{%- endmacro %}
