{% macro post_form(button_text, title="", content="", post_id="", name="") -%}
  <label for="title">Title <small class="grey-text">(Maximum 100 characters)</small></label>
  <input type="text" name="title" id="title" value="{{ title }}" maxlength="100" required>

  <label for="name">Your name <small class="grey-text">(Maximum 8 characters)</small></label>
  <input type="text" name="name" id="name" value="{{ name }}" maxlength="8" required>

  <label for="content">Article content <small class="grey-text">(Enter markdown)</small></label>

  {% if content %}
    <textarea name="content" id="content" required>{{ content }}</textarea>
  {% else %}
    <textarea name="content" id="content" required>
# Why did the angry function exceed the callstack size?
It got into an Argument with itself</textarea>
  {% endif %}

  {% if post_id %}
    <input type="hidden" name="id" value="{{ post_id }}">
  {% endif %}

  <button class="btn btn-lg btn-green">{{ button_text }}</button>
{%- endmacro %}
